@model IEnumerable<BarEarth.Models.Bar>
@inject BarEarth.Data.ApplicationDbContext context;
@{ViewData["Title"] = "Bars";}

<link rel="stylesheet" href="~/css/barListStyle.css" a />



<div class="container-fluid">
    <div class="row justify-content-md-center no-gutters">
        @foreach (var item in Model)
        {
            <div class="col-md-2 m-4 pb-5 " id="bars">
                <div> <img src="~/images/barpicexample.jpg" alt="BarPic" class="img-fluid" /></div>
                <div class="description">
                <p class="descriptionText">@Html.DisplayFor(modelItem => item.Name)</p>
                </div>
            </div>
        }
    </div>
</div>