.starFade {
    background-image: url('/images/baseline-star_border-24px.svg');
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/images/baseline-star_border-24px.svg');
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
}

.starGlow {
    background-image: url('/images/baseline-star-24px.svg');
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('/images/baseline-star-24px.svg');
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
}

.commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}
