<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/details.css" />
    <link rel="stylesheet" href="~/css/ColorStyles.css" />

    <title>@ViewData["Title"] - BarEarth</title>



    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
</head>
<body class="PrimaryColorLigth">




    <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay" style="height: 100vh;">
        <!--Header Begins-->
        <header class="bmd-layout-header PrimaryColor">
            <div class="navbar navbar-ligth bg-faded">
                <button class="navbar-toggler btn btn-light" type="button" data-toggle="drawer" data-target="#dw-s2">
                    <i class="material-icons">menu</i>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-light"><h2>BarEarth</h2></a>
                <div class="order-3 ">@await Html.PartialAsync("_LoginPartial")</div>
            </div>
        </header>
        <!--Header ends-->
        <!--Drawer layout-->
        <div id="dw-s2" class="bmd-layout-drawer bg-faded" style="height:100%">
            @await Html.PartialAsync("_LeftNav")

        </div>
        <!--End-->
        <!--Main body-->
        <main class="bmd-layout-content">
            <div class="body-content container-fluid">
                @RenderBody()
                <footer>
                    <p>&copy; 2018 - BarEarth</p>
                </footer>
            </div>
        </main>
    </div>







    @RenderSection("Scripts", required: false)
    <script>
        console.log('_Layout.cshtml after google maps and scripts');
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


</body>
</html>
