@model BarEarth.Models.Bar
@inject BarEarth.Data.ApplicationDbContext context;
@{ViewData["Title"] = "Address";}

<h1>BarEarth</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IndexGet">
            <div asp-validation-summary="ModelOnly" class="text-danger" />
            <div class="form-group">
                <label>Address</label>
                <input asp-for="PlaceId" class="control-label"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Map" formaction="IndexMapPost" class="btn btn-default" />
                <input type="submit" value="Table" formaction="IndexTablePost" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
