@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="card" style="width: 18rem; background-color: #fff; margin:auto; margin-top: 20vh;">
    <div class="card-body" style="padding:16px">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <!--Email-->
            <div class="form-group">
                <label for="InputEmail" class="bmd-lable-floating" asp-for="Email">Email address</label>
                <input type="email" asp-for="Email" class="form-control" id="InputEmail" />
                <span class="bmd-help">We'll never share your email with anyone else.</span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <!--Password-->
            <div class="form-group">
                <label for="inputPassword" class="bmd-lable-floating" asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control" id="InputPassword" />
                <span class="bmd-help">What the password need to contain</span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <!--Confirm password-->
            <div class="form-group">
                <label for="inputConfirmPassword" class="bmd-lable-floating" asp-for="ConfirmPassword">Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" id="inputConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-raised btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
