@section scripts {
    <script src="~/js/site.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXqGMybRiPHnWLdwBQ7ubymS7lQg8dIj0&libraries=places&callback=initMap"
            async defer></script>

}
@{

}
<link rel="stylesheet" href="~/css/map.css" />
<br />

<div id="map"></div>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">



